body,ul,li,h4,h3,h2,h1,h5,p,div,ol,section{
	margin:0;
  padding:0;
  font-family:PingFangSC-Regular;
  font-weight: normal;
}
.i,.b{
  position:absolute;
  left:50%;
  right:50%;
  transform:translate(-50%,-50%);
}
#box{
	padding-top:0;
}
body {
    max-width: 950px;
    margin: 0 auto;
  	height:auto;
    background-color: #fff;
}
ul,li{
  list-style: none;
}
.router-link-active {
    color: #007aff;
}
@font-face {
  font-family: 'iconfont';  /* project id 440142 */
  src: url('//at.alicdn.com/t/font_440142_qkbqwvz01ng0hpvi.eot');
  src: url('//at.alicdn.com/t/font_440142_qkbqwvz01ng0hpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_440142_qkbqwvz01ng0hpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_440142_qkbqwvz01ng0hpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_440142_qkbqwvz01ng0hpvi.svg#iconfont') format('svg');
}
