@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gygsen');
  src:  url('fonts/icomoon.eot?gygsen#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gygsen') format('truetype'),
    url('fonts/icomoon.woff?gygsen') format('woff'),
    url('fonts/icomoon.svg?gygsen#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-工单出库-(1):before {
  content: "\e900";
}
.icon-师傅:before {
  content: "\e901";
}
.icon-罚款:before {
  content: "\e902";
}
.icon-新增订单:before {
  content: "\e903";
}
.icon-备注:before {
  content: "\e904";
}
.icon-投诉2:before {
  content: "\e905";
}
.icon-时间-(1):before {
  content: "\e906";
}
.icon-异常:before {
  content: "\e907";
}
.icon-取消:before {
  content: "\e908";
}
.icon-详情:before {
  content: "\e909";
}
