#app{
  #closeX{
    top:-38px;
    right:0px;
    width:35px;
    height: 35px;
    background:#fff;
    border-radius: 50%;
    transform:translateX(100%);
    >i{
      position:absolute;
      top:50%;
      width:15px;
      left:50%;
      height: 15px;
      transform:translate(-50%,-50%);
    }
  }
  .alert_title{
    border-bottom:1px solid #ccc;
    line-height: 60px;
    padding-left:60px;
  }
  .btn{
    >button{
      width: 88px;
      height: 38px;
      line-height: 35px;
      margin-left:10px;
    }
  }
}
