body,html,ul,li,ol,div,p{
	padding:0;
	margin:0;
  font-family: MicrosoftYaHei;
}
ul{
	list-style: none;
}
.cursor{
  cursor:pointer;
}
.alert {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  z-index: 9999;
  right: 0;
}
.alert .btn {
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.alert .btn button{
  width:200px;
  cursor:pointer;
  line-height:44px;
  border:none;
  padding:0;
  margin:0;
  transform: rotate(-360deg);
  border: 1px solid #979797;
  border-radius: 4px;
  float:left;
  background:#fff;
  outline:none;
}
.alert .btn button .selector{
  color:#fff;
  background: #279447;
}
.box-card{
  width: 30%;
  height:600px;
  overflow: scroll;
  margin: 0 auto;
  transform:translateY(30%);
}
.closeX {
  background: url(../../../static/images/del.png) center center no-repeat;
  position: absolute;
  top: 140px;
  background-size: 100% 100%;
  background-origin: content-box;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform:translateY(200%);
  right: 22%;
  font-size: 35px;
}
/*禁用*/
.forbidden_icon{
  background: url(../../../static/images/ban.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.start_icon{
  background: url(../../../static/images/recover.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.order_icon{
  display: inline-block;
  background: url(../../../static/images/orderk.png) center center no-repeat;
  background-size:100% 100%;
  width:18px;
  height: 18px;
}
#ch_option_line .el-cascader__label{
  line-height: 39px !important;
}
.el-cascader__label{
  line-height: 59px !important;
}
.el-input{
  width:192px;
}

@media screen and (max-width: 1918px) {
  #table{
    width:1610px !important;
  }
}
.el-select-dropdown{
  z-index: 9999999!important;
}
.el-date-editor{
  width:192px !important;
}
.el-picker-panel__body-wrapper{
  z-index: 99999 !important;
}
.el-cascader-menus{
  z-index: 99999 !important;
}
.red{
  color:red !important;
}
.red{
  color:red !important;
}
.paging .el-pagination .el-pagination__sizes .el-select .el-input{
  line-height: 30px !important;
}
.selector_list {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  min-width: 900px;
}
.selector_list >.list{
  float:left;
  line-height:60px;
  list-style:none;
  text-align: right;
  width:300px;
  font-size:14px;
  margin-right:2%;

}
.el-input{
  width:auto;
}
.del_icon{
  background:url(../../../static/images/del.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.edit_icon{
  background:url(../../../static/images/bianji.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.detil_icon{
  background:url(../../../static/images/detil.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.undercarriage_icon{
  background:url(../../../static/images/xiajia.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.add_icon{
  background:url(../images/add.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.peijian_icon{
  background:url(../images/peijian.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.top_icon{
  background:url(../images/top.png) center center no-repeat !important;
  background-size:100% 100% !important;
}
.list_name{
  display: inline-block;
  width:79px;
  text-align: right;
}
.alert_title{
  font-family: MicrosoftYaHei;
  font-size: 14px;
  line-height: 4em;
  color: #333333;
  padding-left:10px;
  letter-spacing: 0;
}
.el-message{
  z-index: 9999 !important;
}
._fl{
  float:left;
}
._fr{
  float:right;
}
 .el-dialog__wrapper{
  z-index: 99996 !important;
}
.relative{
  position:relative;
}
.paging > .home{
  margin-right:0;
}
#closeX{
  top:-12px;
  right:32px;
  width: 16px;
  height: 16px;
  margin-right:0;
}
.channel-app-box{
  background:#F1F4F5;
}
.scrollbar::-webkit-scrollbar { /*滚动条整体样式*/
  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
}
.scrollbar::-webkit-scrollbar-thumb{
  /*滚动条里面小方块*/
   border-radius: 5px;
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,1);
   background: #ededed;
}
